#menu 
    ul
        background-color: grey
        display: flex 
        justify-content: center
        align-items: center
        margin: 0
        height: 60px

.item
    margin-left: 20px
    list-style: none

    a
        text-decoration: none
        text-transform: uppercase
        font-family: sans-serif
        color: black
        &:hover
            color: white


body
    padding: 0px
    margin: 0px
    background-color: aquamarine
