// Este es el inicio de nav 
#menu 
    ul
        background-color: grey
        display: flex 
        justify-content: center
        align-items: center
        margin: 0
        height: 60px

.item
    margin-left: 20px
    list-style: none

    a
        text-decoration: none
        text-transform: uppercase
        font-family: sans-serif
        color: black
        &:hover
            color: white
// Este es el fin del nav


body
    padding: 0px
    margin: 0px
    background-color: #a8dadc


#header
    display: flex
    flex-direction: column
    align-items: center
    img  
        background-color: rgba(189, 178, 255, 0.5)
        height: 200px;
        width: 200px;
        border-radius: 25px;
      
    p
        text-align: center

.description
    background-color: rgba(189, 178, 255, 0.5)
    padding: 20px
    

.experiencia 
    background-color: rgba(221, 161, 94, 0.5)
    display: flex
    align-items: center
    justify-content: center
        
.caja
    
    background-color: rgba(221, 161, 94, 0.7)
    height: 100px
    width: 100px
    padding: 20px;
    border: 10px solid rgba(221, 161, 94, 0.9)
    margin: 60px;
    box-sizing: content-box;

    


        