#menu ul {
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 60px;
}
.item {
  margin-left: 20px;
  list-style: none;
}
.item a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #000;
}
.item a:hover {
  color: #fff;
}
body {
  padding: 0px;
  margin: 0px;
  background-color: #a8dadc;
}
.description {
  background-color: rgba(189,178,255,0.5);
  padding: 20px;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header img {
  background-color: rgba(189,178,255,0.5);
}
